{% extends "base.html" %}

{% block title %}New Task{% endblock %}

{% block content %}
<h2>Create New Task</h2>
<form method="POST">
    {{ form.hidden_tag() }}
    <div>
        {{ form.title.label }}<br>
        {{ form.title(size=32) }}<br>
        {% for error in form.title.errors %}
            <span class="error">{{ error }}</span>
        {% endfor %}
    </div>
    <div>
        {{ form.description.label }}<br>
        {{ form.description(cols=30, rows=5) }}<br>
        {% for error in form.description.errors %}
            <span class="error">{{ error }}</span>
        {% endfor %}
    </div>
    <div>
        {{ form.due_date.label }}<br>
        {{ form.due_date(size=32) }}<br>
        {% for error in form.due_date.errors %}
            <span class="error">{{ error }}</span>
        {% endfor %}
    </div>
    <div>
        {{ form.submit() }}
    </div>
</form>
{% endblock %}